@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'brunno-font';
  src: url("../font/brunno-font.eot?44532184");
  src: url("../font/brunno-font.eot?44532184#iefix") format("embedded-opentype"), url("../font/brunno-font.woff2?44532184") format("woff2"), url("../font/brunno-font.woff?44532184") format("woff"), url("../font/brunno-font.ttf?44532184") format("truetype"), url("../font/brunno-font.svg?44532184#brunno-font") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'brunno-font';
    src: url('../font/brunno-font.svg?44532184#brunno-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "brunno-font";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-bed:before {
  content: '\e800'; }

/* '' */
.icon-casa:before {
  content: '\e801'; }

/* '' */
.icon-portafolio:before {
  content: '\e802'; }

/* '' */
.icon-airplane:before {
  content: '\e803'; }

/* '' */
.icon-entradas:before {
  content: '\e804'; }

/* '' */
.icon-usuario:before {
  content: '\e805'; }

/* '' */
.icon-megafono:before {
  content: '\e806'; }

/* '' */
.icon-autobus:before {
  content: '\e807'; }

/* '' */
.icon-coche-deportivo:before {
  content: '\e808'; }

/* '' */
.icon-campana:before {
  content: '\e809'; }

/* '' */
.icon-asistencia-medica:before {
  content: '\e80a'; }

/* '' */
.icon-despegue:before {
  content: '\e80b'; }

/* '' */
.icon-calendario:before {
  content: '\e80c'; }

/* '' */
.icon-gps:before {
  content: '\e80d'; }

/* '' */
.icon-ciudad:before {
  content: '\e80e'; }

/* '' */
.icon-gps2:before {
  content: '\e80f'; }

/* '' */
.icon-avion:before {
  content: '\e810'; }

/* '' */
.icon-planeta:before {
  content: '\e811'; }

/* '' */
.icon-despegue-del-avion:before {
  content: '\e812'; }

/* '' */
header {
  background-color: #1D4D8B !important;
  color: #fff;
  padding: 10px 0px 0px 0px; }
  header button {
    background-color: #1D4D8B !important;
    border: 0px solid !important;
    --bs-btn-focus-shadow-rgb: none !important; }
    header button svg {
      width: 25px;
      height: auto; }
  header img {
    width: 70%;
    height: auto; }
  header hr {
    margin: 5px 0px 20px 0px;
    border-color: #5383ec; }
  header #header-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header #header-items ul li {
      display: flex;
      padding: 0px 5px 10px 5px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: #649FD7; }
      header #header-items ul li i {
        font-size: 20px; }

#offcanvasExample {
  --bs-offcanvas-width: 280px !important;
  transition: transform .15s ease-in-out !important;
  padding-top: 10px !important; }
  #offcanvasExample div ul {
    list-style-type: none;
    padding: 0; }
    #offcanvasExample div ul hr {
      margin: 6px 0; }
    #offcanvasExample div ul li {
      font-size: 16px;
      padding: 7px 0; }
      #offcanvasExample div ul li:hover {
        color: #649FD7; }
      #offcanvasExample div ul li i {
        margin-right: 5px; }

.offcanvas-salida {
  --bs-offcanvas-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .offcanvas-salida .offcanvas-header {
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 0px !important;
    box-shadow: 0 -1px 4px 1px; }
    .offcanvas-salida .offcanvas-header button {
      align-self: flex-end; }
    .offcanvas-salida .offcanvas-header div {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      width: 100%; }
      .offcanvas-salida .offcanvas-header div button {
        width: 50%;
        border: none;
        background-color: #fff;
        color: #8290a6;
        font-weight: 600;
        padding-bottom: 20px; }
        .offcanvas-salida .offcanvas-header div button:active {
          border-bottom: 3px solid #5383ec;
          color: #5383ec; }
  .offcanvas-salida .offcanvas-body {
    overflow-x: hidden; }
  .offcanvas-salida .offcanvas-footer {
    box-shadow: 0 1px 4px 1px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .offcanvas-salida .offcanvas-footer .container-footer {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .offcanvas-salida .offcanvas-footer .container-footer div {
        padding-top: 10px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .offcanvas-salida .offcanvas-footer .container-footer div p {
          font-size: 11px;
          color: #8290a6;
          font-weight: 600; }
    .offcanvas-salida .offcanvas-footer button {
      background-color: #2C5FA1;
      color: #fff;
      width: 90%;
      border-radius: 20px;
      margin: auto auto;
      border: 1px solid #649FD7;
      padding: 12px;
      margin-bottom: 12px;
      font-weight: 600; }

.offcanvas-pasajeros {
  --bs-offcanvas-height: 100% !important;
  display: flex;
  flex-direction: column; }
  .offcanvas-pasajeros .offcanvas-header {
    display: flex;
    flex-direction: column; }
    .offcanvas-pasajeros .offcanvas-header button {
      align-self: flex-end; }
    .offcanvas-pasajeros .offcanvas-header h3 {
      text-align: left; }
  .offcanvas-pasajeros .offcanvas-body {
    display: flex;
    flex-direction: column; }
    .offcanvas-pasajeros .offcanvas-body #clase-select h4 {
      text-align: center;
      padding-top: 20px; }
    .offcanvas-pasajeros .offcanvas-body #clase-select span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 20px; }
      .offcanvas-pasajeros .offcanvas-body #clase-select span button {
        background-color: #fff;
        border: 1px solid #E6EAEF;
        color: #2d384c;
        border-radius: 20px;
        padding: 10px 25px; }
    .offcanvas-pasajeros .offcanvas-body #offcanvas-footer {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .offcanvas-pasajeros .offcanvas-body #offcanvas-footer button {
        width: 100%;
        padding: 15px 0px;
        border-radius: 30px;
        border: none;
        background-color: #5383ec;
        color: #fff;
        font-weight: 600; }
    .offcanvas-pasajeros .offcanvas-body .contador {
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .offcanvas-pasajeros .offcanvas-body .contador h3 {
        font-size: 26px;
        padding: 0 20px;
        margin: 0%;
        font-weight: 400; }
      .offcanvas-pasajeros .offcanvas-body .contador .bi {
        color: #E6EAEF;
        font-size: 25px; }
      .offcanvas-pasajeros .offcanvas-body .contador .bi-plus-circle-fill {
        color: #5383ec; }

.offcanvas-destino {
  --bs-offcanvas-height: 100% !important; }
  .offcanvas-destino .offcanvas-header {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    border-bottom: 1px solid #BAC6D3;
    position: relative; }
    .offcanvas-destino .offcanvas-header input {
      font-size: 20px;
      width: 90%;
      height: 25px;
      border: none; }
      .offcanvas-destino .offcanvas-header input::placeholder {
        color: #BAC6D3; }
  .offcanvas-destino .offcanvas-body {
    padding: 0 !important; }
    .offcanvas-destino .offcanvas-body .destino {
      width: 100%;
      height: 65px;
      border-bottom: 1px solid #BAC6D3; }

#browser {
  width: 100%;
  background-color: #2C5FA1;
  display: none; }
  #browser #browser_top {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px; }
    #browser #browser_top button {
      border: none;
      background-color: #2C5FA1;
      color: #649FD7;
      font-size: 14px;
      font-weight: 600; }
      #browser #browser_top button:focus {
        border-radius: 15px;
        border: 1px solid #fff;
        color: #fff; }
  #browser #browser_box {
    position: relative;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px; }
    #browser #browser_box div {
      border-radius: 5px;
      background-color: #fff;
      width: 145px;
      height: 80px; }
    #browser #browser_box #changer-button {
      position: absolute;
      left: auto;
      right: auto;
      top: 25px;
      border-radius: 100px;
      border: 4px solid #2C5FA1;
      background-color: #fff;
      z-index: 1;
      padding: 6px; }
      #browser #browser_box #changer-button i {
        font-size: 20px;
        color: #2C5FA1; }
    #browser #browser_box #salida {
      display: flex;
      justify-content: center;
      align-items: center; }
      #browser #browser_box #salida p {
        font-size: 40px;
        color: #2d384c;
        font-weight: 600;
        margin: 0; }
    #browser #browser_box #destino {
      display: grid;
      grid-template-columns: 25% 75%;
      grid-template-rows: 50% 50%;
      gap: 5px;
      grid-template-areas: "icon destino" "hr ejemplo";
      padding: 20px 10px 30px 20px;
      color: #8290a6; }
      #browser #browser_box #destino .icon-despegue {
        grid-area: icon;
        font-size: 24px;
        top: 5px; }
      #browser #browser_box #destino hr {
        grid-area: hr; }
      #browser #browser_box #destino h6 {
        grid-area: destino;
        font-weight: 500; }
      #browser #browser_box #destino i {
        grid-area: ejemplo;
        font-size: 11px;
        font-weight: 300; }
    #browser #browser_box #fechas {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      #browser #browser_box #fechas span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px; }
        #browser #browser_box #fechas span p {
          color: #8290a6;
          font-size: 12px;
          font-weight: 500; }
      #browser #browser_box #fechas hr {
        height: 50px;
        width: .1vw;
        border-width: 0;
        color: #000;
        background-color: #000; }
    #browser #browser_box #pasajeros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px; }
      #browser #browser_box #pasajeros h4 {
        color: #000;
        font-size: 20px; }
      #browser #browser_box #pasajeros p {
        font-size: 12px;
        color: #8290a6;
        font-weight: 600; }
  #browser #browser_bottom {
    height: 75px; }
    #browser #browser_bottom div {
      padding: 5px 10px; }
      #browser #browser_bottom div input[type=checkbox] {
        display: none; }
      #browser #browser_bottom div input[type=checkbox] {
        cursor: pointer; }
      #browser #browser_bottom div label::before {
        border: 1px solid #E6EAEF;
        border-radius: 5px;
        width: 20px; }
      #browser #browser_bottom div label:before {
        content: "";
        border: 1px solid #E6EAEF;
        background-color: #E6EAEF;
        border-radius: 5px;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center; }
      #browser #browser_bottom div input[type=checkbox]:checked + label:before {
        content: '✓';
        font-size: 20px;
        color: #5383ec; }
    #browser #browser_bottom :nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    #browser #browser_bottom button {
      background-color: #FEBB02;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      margin-top: 25px;
      margin-left: 50%;
      transform: translateX(-50%);
      padding: 15px 45px;
      border-radius: 30px;
      border: none;
      z-index: 1; }
  #browser article {
    background-color: #fff;
    padding-top: 50px; }
    #browser article #vuelos-titulo {
      text-align: center;
      padding-bottom: 30px;
      font-size: 20px; }
    #browser article #vuelos-opciones {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      #browser article #vuelos-opciones span {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1rem;
        width: 150px;
        height: 130px;
        color: #fff; }
        #browser article #vuelos-opciones span h3 {
          font-size: 1.3em;
          margin: 0px;
          text-align: center; }
        #browser article #vuelos-opciones span h5 {
          font-size: 0.8rem; }
        #browser article #vuelos-opciones span p {
          font-size: 20px;
          font-weight: 600; }
        #browser article #vuelos-opciones span::before {
          border-radius: 5px;
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          filter: brightness(50%);
          z-index: 0; }
        #browser article #vuelos-opciones span:active {
          filter: brightness(70%); }
  #browser article {
    position: relative; }
    #browser article #vuelos-opciones #opcion-1::before {
      background-image: url(../images/MIA.jpg); }
    #browser article #vuelos-opciones #opcion-2::before {
      background-image: url(../images/MAD.jpg); }
    #browser article #vuelos-opciones #opcion-3::before {
      background-image: url(../images/BRC.jpg); }
    #browser article #vuelos-opciones #opcion-4::before {
      background-image: url(../images/BCN.jpg); }
    #browser article #vuelos-opciones #opcion-5::before {
      background-image: url(../images/RIO.jpg); }
    #browser article #vuelos-opciones #opcion-6::before {
      background-image: url(../images/CUN.jpg); }
    #browser article #vuelos-opciones #opcion-7::before {
      background-image: url(../images/SLA.jpg); }
    #browser article #vuelos-opciones #opcion-8::before {
      background-image: url(../images/IGR.jpg); }
    #browser article #vuelos-opciones #opcion-9::before {
      background-image: url(../images/ROM.jpg); }
    #browser article #vuelos-opciones #opcion-10::before {
      background-image: url(../images/NYC.jpg); }
    #browser article #vuelos-newsletter {
      display: inherit;
      width: 100%;
      background-color: #5383ec;
      color: #fff;
      padding: 30px 10px;
      margin: 30px 0 0 0; }
      #browser article #vuelos-newsletter h4 {
        text-align: center;
        font-size: 18px;
        padding-bottom: 10px; }
      #browser article #vuelos-newsletter div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0; }
        #browser article #vuelos-newsletter div form {
          display: grid;
          grid-template-columns: 60% 40%;
          grid-template-areas: "input boton";
          background-color: #5383ec; }
          #browser article #vuelos-newsletter div form button {
            grid-area: boton;
            border: none;
            padding: 13px 15px;
            border-radius: 5px;
            border-start-start-radius: 0px;
            border-end-start-radius: 0px;
            background-color: #1D4D8B;
            color: #fff;
            font-weight: 600; }
          #browser article #vuelos-newsletter div form input {
            grid-area: input;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            border-end-end-radius: 0px;
            border-start-end-radius: 0px; }
            #browser article #vuelos-newsletter div form input::placeholder {
              font-style: italic;
              font-size: 12px; }
    #browser article #vuelos-preguntas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #E6EAEF;
      padding-top: 20px; }
      #browser article #vuelos-preguntas h3 {
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px; }
      #browser article #vuelos-preguntas span {
        width: 90%;
        border: none;
        border-radius: 10px;
        padding: 5px;
        background-color: #fff;
        margin: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; }
        #browser article #vuelos-preguntas span h6 {
          font-size: 14px;
          margin: 0px; }

* {
  box-sizing: border-box;
  position: relative; }

html, body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1;
  background-color: #4075b7;
  width: 100%;
  height: 100%;
  counter-reset: previous-month 29 current-month next-month;
  margin: 0; }

aside, main {
  width: 50%;
  height: 816px;
  float: left;
  padding: 0 2rem;
  margin: 2rem 0; }

header {
  color: white; }

.header-bar {
  height: 1rem; }

.header-title {
  padding: 1rem; }
  .header-title h1 {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px; }

.header-weekdays {
  height: 2rem; }
  .header-weekdays span {
    font-size: 0.8rem;
    display: block;
    float: left;
    width: 14.28571%;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: uppercase; }

.calendar:before, .calendar:after {
  content: " ";
  display: table; }

.calendar:after {
  clear: both; }

.calendar.inactive {
  pointer-events: none; }

form {
  background: rgba(88, 178, 164, 0.9); }
  form:before, form:after {
    content: " ";
    display: table; }
  form:after {
    clear: both; }

.month {
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  margin: 0; }

.day {
  float: left;
  width: 14.28571%;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; }
  .device:not(:hover) .day {
    transition-duration: 0; }
  .day:after {
    display: block;
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
  .day.current-month:after {
    content: counter(current-month);
    counter-increment: current-month; }
  .day.next-month:after {
    content: counter(next-month);
    counter-increment: next-month; }
  .day.previous-month:after {
    content: counter(previous-month);
    counter-increment: previous-month; }
  .day.previous-month, .day.next-month {
    color: rgba(51, 51, 51, 0.3); }
  .day:last-of-type:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 700%;
    height: 100%;
    background: white; }
  .day:checked, .day:checked ~ .day {
    color: white; }
  .day:checked ~ .day {
    background-color: transparent; }
  .day:hover, .day:checked,
  .day ~ .day:hover,
  .day ~ .day:checked {
    background-color: rgba(0, 0, 0, 0.1);
    color: white; }
  .day, .day:checked ~ .day:checked ~ .day,
  .day:checked ~ .day:hover ~ .day,
  .day:checked:hover ~ .day {
    background-color: white;
    color: #333; }
    .day.next-month, .day:checked ~ .day:checked ~ .day.next-month,
    .day:checked ~ .day:hover ~ .day.next-month,
    .day:checked:hover ~ .day.next-month {
      color: rgba(51, 51, 51, 0.3); }
  .day:nth-child(7n + 1):after {
    transition-delay: 0s;
    animation-delay: 0s; }
  .day:nth-child(7n + 2):after {
    transition-delay: 0.08571s;
    animation-delay: 0.08571s; }
  .day:nth-child(7n + 3):after {
    transition-delay: 0.17143s;
    animation-delay: 0.17143s; }
  .day:nth-child(7n + 4):after {
    transition-delay: 0.25714s;
    animation-delay: 0.25714s; }
  .day:nth-child(7n + 5):after {
    transition-delay: 0.34286s;
    animation-delay: 0.34286s; }
  .day:nth-child(7n + 6):after {
    transition-delay: 0.42857s;
    animation-delay: 0.42857s; }
  .day:nth-child(7n + 7):after {
    transition-delay: 0.51429s;
    animation-delay: 0.51429s; }

.calendar-label-bg {
  display: block;
  position: absolute;
  outline: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  transform: translateX(-100%);
  animation: bg-inactive 1s cubic-bezier(0.77, 0, 0.175, 1); }
  .calendar-label-bg:checked {
    animation: bg-active 1s cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .calendar-label-bg:checked ~ .calendar .day:checked:after, .calendar-label-bg:checked ~ .calendar .day:checked ~ .day:after {
      animation-name: day-active;
      animation-duration: 0.6s;
      animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
    .calendar-label-bg:checked ~ .calendar .day:checked ~ .day:checked ~ .day:after {
      animation: none; }

#vacation {
  background-color: #d3738b; }

#vacation:checked ~ .calendar .day:nth-child(7n + 1) {
  z-index: 70; }

#vacation:checked ~ .calendar .day:nth-child(7n + 2) {
  z-index: 60; }

#vacation:checked ~ .calendar .day:nth-child(7n + 3) {
  z-index: 50; }

#vacation:checked ~ .calendar .day:nth-child(7n + 4) {
  z-index: 40; }

#vacation:checked ~ .calendar .day:nth-child(7n + 5) {
  z-index: 30; }

#vacation:checked ~ .calendar .day:nth-child(7n + 6) {
  z-index: 20; }

#vacation:checked ~ .calendar .day:nth-child(7n + 7) {
  z-index: 10; }

#vacation:checked ~ .calendar .calendar-labels label[for=vacation]:not(.full):before {
  visibility: visible;
  animation: check-active 0.1s 0.2s ease-out both; }

#vacation:checked ~ .calendar .calendar-labels label[for=vacation].full input {
  font-weight: 700; }

#vacation:checked ~ .calendar .calendar-labels label[for=vacation].full:before {
  color: white;
  border-color: white; }

#vacation:checked ~ .calendar .calendar-labels label[for=vacation] > span {
  transform: translateX(2rem); }

#fishing {
  background-color: #8f658a; }

#fishing:checked ~ .calendar .day:nth-child(7n + 1) {
  z-index: 70; }

#fishing:checked ~ .calendar .day:nth-child(7n + 2) {
  z-index: 60; }

#fishing:checked ~ .calendar .day:nth-child(7n + 3) {
  z-index: 50; }

#fishing:checked ~ .calendar .day:nth-child(7n + 4) {
  z-index: 40; }

#fishing:checked ~ .calendar .day:nth-child(7n + 5) {
  z-index: 30; }

#fishing:checked ~ .calendar .day:nth-child(7n + 6) {
  z-index: 20; }

#fishing:checked ~ .calendar .day:nth-child(7n + 7) {
  z-index: 10; }

#fishing:checked ~ .calendar .calendar-labels label[for=fishing]:not(.full):before {
  visibility: visible;
  animation: check-active 0.1s 0.2s ease-out both; }

#fishing:checked ~ .calendar .calendar-labels label[for=fishing].full input {
  font-weight: 700; }

#fishing:checked ~ .calendar .calendar-labels label[for=fishing].full:before {
  color: white;
  border-color: white; }

#fishing:checked ~ .calendar .calendar-labels label[for=fishing] > span {
  transform: translateX(2rem); }

#walk {
  background-color: #7186db; }

#walk:checked ~ .calendar .day:nth-child(7n + 1) {
  z-index: 70; }

#walk:checked ~ .calendar .day:nth-child(7n + 2) {
  z-index: 60; }

#walk:checked ~ .calendar .day:nth-child(7n + 3) {
  z-index: 50; }

#walk:checked ~ .calendar .day:nth-child(7n + 4) {
  z-index: 40; }

#walk:checked ~ .calendar .day:nth-child(7n + 5) {
  z-index: 30; }

#walk:checked ~ .calendar .day:nth-child(7n + 6) {
  z-index: 20; }

#walk:checked ~ .calendar .day:nth-child(7n + 7) {
  z-index: 10; }

#walk:checked ~ .calendar .calendar-labels label[for=walk]:not(.full):before {
  visibility: visible;
  animation: check-active 0.1s 0.2s ease-out both; }

#walk:checked ~ .calendar .calendar-labels label[for=walk].full input {
  font-weight: 700; }

#walk:checked ~ .calendar .calendar-labels label[for=walk].full:before {
  color: white;
  border-color: white; }

#walk:checked ~ .calendar .calendar-labels label[for=walk] > span {
  transform: translateX(2rem); }

#weekend {
  background-color: #f7c187; }

#weekend:checked ~ .calendar .day:nth-child(7n + 1) {
  z-index: 70; }

#weekend:checked ~ .calendar .day:nth-child(7n + 2) {
  z-index: 60; }

#weekend:checked ~ .calendar .day:nth-child(7n + 3) {
  z-index: 50; }

#weekend:checked ~ .calendar .day:nth-child(7n + 4) {
  z-index: 40; }

#weekend:checked ~ .calendar .day:nth-child(7n + 5) {
  z-index: 30; }

#weekend:checked ~ .calendar .day:nth-child(7n + 6) {
  z-index: 20; }

#weekend:checked ~ .calendar .day:nth-child(7n + 7) {
  z-index: 10; }

#weekend:checked ~ .calendar .calendar-labels label[for=weekend]:not(.full):before {
  visibility: visible;
  animation: check-active 0.1s 0.2s ease-out both; }

#weekend:checked ~ .calendar .calendar-labels label[for=weekend].full input {
  font-weight: 700; }

#weekend:checked ~ .calendar .calendar-labels label[for=weekend].full:before {
  color: white;
  border-color: white; }

#weekend:checked ~ .calendar .calendar-labels label[for=weekend] > span {
  transform: translateX(2rem); }

#new {
  background-color: #58b2a4; }

#new:checked ~ .calendar .day:nth-child(7n + 1) {
  z-index: 70; }

#new:checked ~ .calendar .day:nth-child(7n + 2) {
  z-index: 60; }

#new:checked ~ .calendar .day:nth-child(7n + 3) {
  z-index: 50; }

#new:checked ~ .calendar .day:nth-child(7n + 4) {
  z-index: 40; }

#new:checked ~ .calendar .day:nth-child(7n + 5) {
  z-index: 30; }

#new:checked ~ .calendar .day:nth-child(7n + 6) {
  z-index: 20; }

#new:checked ~ .calendar .day:nth-child(7n + 7) {
  z-index: 10; }

#new:checked ~ .calendar .calendar-labels label[for=new]:not(.full):before {
  visibility: visible;
  animation: check-active 0.1s 0.2s ease-out both; }

#new:checked ~ .calendar .calendar-labels label[for=new].full input {
  font-weight: 700; }

#new:checked ~ .calendar .calendar-labels label[for=new].full:before {
  color: white;
  border-color: white; }

#new:checked ~ .calendar .calendar-labels label[for=new] > span {
  transform: translateX(2rem); }

.calendar-labels {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  pointer-events: none;
  transition: all 0s ease-in-out;
  transition-delay: 1s;
  transform: translateY(0);
  opacity: 0; }
  .device:hover .calendar-labels {
    display: block; }
  .calendar-labels:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    height: 15rem;
    width: 100%;
    pointer-events: auto; }
  .calendar-labels > label {
    display: block;
    float: left;
    width: 57.14286%;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-fill-mode: both; }
    .calendar-labels > label:before {
      display: block;
      position: absolute;
      left: 0.75rem;
      height: 1rem;
      visibility: hidden; }
    .calendar-labels > label.full {
      width: 100%;
      font-weight: 700; }
      .calendar-labels > label.full:before {
        transition-property: color, border-color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        content: '+';
        top: calc(50% - 0.75rem);
        font-size: 1rem;
        font-weight: 700;
        width: 1rem;
        border: 4px solid rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        text-align: center;
        visibility: visible; }
      .calendar-labels > label.full > input {
        display: block;
        margin-left: 2rem;
        width: calc(100% - 2rem);
        font-size: 1rem;
        background-image: none;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        line-height: 1;
        padding: 0; }
        .calendar-labels > label.full > input::placeholder {
          color: rgba(255, 255, 255, 0.7); }
    .calendar-labels > label.reset {
      width: 100%;
      background: white;
      float: left;
      padding: 0;
      height: 3rem; }
      .calendar-labels > label.reset > input {
        display: block;
        padding: 1rem;
        line-height: 1;
        font-size: 0.8rem;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        border: none;
        background: transparent;
        outline: none;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 0.3);
        letter-spacing: 3px; }
    .calendar-labels > label:not(.full):before {
      content: '';
      top: 50%;
      width: 0.5rem;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top;
      border-right: 5px solid rgba(255, 255, 255, 0.7);
      border-top: 5px solid rgba(255, 255, 255, 0.7);
      animation: check-inactive 0.3s 0 cubic-bezier(0.77, 0, 0.175, 1) both; }
    .calendar-labels > label > * {
      transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      display: inline-block; }
    .calendar-labels > label[for="vacation"] {
      background: #d3738b; }
    .calendar-labels > label[for="fishing"] {
      background: #8f658a; }
    .calendar-labels > label[for="walk"] {
      background: #7186db; }
    .calendar-labels > label[for="weekend"] {
      background: #f7c187; }
    .calendar-labels > label[for="new"] {
      background: #58b2a4; }
    .calendar-labels > label:nth-child(n + 2):nth-child(-n + 3) {
      width: 42.85714%; }
    .calendar-labels > label:nth-child(2n - 1) {
      z-index: 20;
      animation-name: leftLabel-inactive; }
    .calendar-labels > label:nth-child(2n) {
      z-index: 10;
      animation-name: rightLabel-inactive; }

.day:checked ~ .day:checked ~ .calendar-labels {
  transition-delay: 0s;
  display: block;
  opacity: 1; }

.day:checked ~ .day:checked:nth-child(n + 1):nth-child(-n + 7) ~ .calendar-labels {
  transform: translateY(3rem);
  pointer-events: auto; }

.day:checked ~ .day:checked:nth-child(n + 8):nth-child(-n + 14) ~ .calendar-labels {
  transform: translateY(6rem);
  pointer-events: auto; }

.day:checked ~ .day:checked:nth-child(n + 15):nth-child(-n + 21) ~ .calendar-labels {
  transform: translateY(9rem);
  pointer-events: auto; }

.day:checked ~ .day:checked:nth-child(n + 22):nth-child(-n + 28) ~ .calendar-labels {
  transform: translateY(12rem);
  pointer-events: auto; }

.day:checked ~ .day:checked:nth-child(n + 29):nth-child(-n + 35) ~ .calendar-labels {
  transform: translateY(15rem);
  pointer-events: auto; }

.day:checked ~ .day:checked ~ .day:nth-child(7n) ~ .day:after,
.day:checked ~ .day:checked:nth-child(7n) ~ .day:after {
  transform: translateY(15rem);
  opacity: 0; }

.day:checked ~ .day:checked ~ .calendar-labels label:nth-child(2n - 1) {
  z-index: 20;
  animation: leftLabel-active 1s cubic-bezier(0.77, 0, 0.175, 1) both; }

.day:checked ~ .day:checked ~ .calendar-labels label:nth-child(2n) {
  z-index: 10;
  animation: rightLabel-active 1s cubic-bezier(0.77, 0, 0.175, 1) both; }

@keyframes check-active {
  0% {
    width: 0;
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0; }
  100% {
    opacity: 1; } }

@keyframes check-inactive {
  50% {
    opacity: 1;
    width: 0.5rem;
    height: 0; }
  100% {
    width: 0;
    height: 0;
    opacity: 0; } }

@keyframes labels-inactive {
  to {
    transform: translateY(0); } }

@keyframes leftLabel-active {
  from {
    transform: translateX(-100%); } }

@keyframes leftLabel-inactive {
  to {
    transform: translateX(-100%); } }

@keyframes rightLabel-active {
  from {
    transform: translateX(-300%); } }

@keyframes rightLabel-inactive {
  to {
    transform: translateX(-300%); } }

@keyframes bg-active {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes bg-inactive {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(100%); } }

@keyframes day-active {
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.meta {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem; }
  .meta p, .meta a {
    color: rgba(255, 255, 255, 0.5); }
  .meta h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 300;
    color: white; }
  .meta p {
    line-height: 1.4; }
  .meta a:hover {
    color: rgba(255, 255, 255, 0.7); }

.device {
  position: absolute;
  right: 2rem;
  height: 816px;
  width: 396px;
  padding: 90px 10px;
  border: 5px solid white;
  border-radius: 60px;
  background-color: #dcdfe6;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1); }
  .device:before, .device:after {
    content: '';
    position: absolute;
    z-index: 2; }
  .device:before {
    width: 20%;
    height: 10px;
    top: 40px;
    left: 40%;
    border-radius: 10px;
    background-color: #a1a5b3; }
  .device:after {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 5px #bdc0ca;
    left: calc(50% - 25px);
    bottom: 15px; }
  .device header {
    height: 6rem;
    background-color: #58b2a4; }
  .device section {
    height: calc(100% - 6rem);
    width: 100%;
    overflow: hidden;
    background-color: white; }

.offcanvas-pasajeros .offcanvas-body #adultos, .offcanvas-pasajeros .offcanvas-body #bebes, .offcanvas-pasajeros .offcanvas-body #menores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: .5px solid;
  border-color: #E6EAEF; }
  .offcanvas-pasajeros .offcanvas-body #adultos h4, .offcanvas-pasajeros .offcanvas-body #bebes h4, .offcanvas-pasajeros .offcanvas-body #menores h4 {
    font-size: 16px;
    line-height: 10px; }
  .offcanvas-pasajeros .offcanvas-body #adultos p, .offcanvas-pasajeros .offcanvas-body #bebes p, .offcanvas-pasajeros .offcanvas-body #menores p {
    font-size: 12px;
    color: #8290a6; }

#buscador-hoteles {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; }
  #buscador-hoteles #hoteles-container {
    height: 500px;
    background-image: url(../images/fondo-home-hoteles-mobile.png);
    background-position: center top;
    padding-top: 35%; }
    #buscador-hoteles #hoteles-container h2 {
      text-align: center;
      color: #fff;
      font-weight: 600;
      font-size: 30px;
      padding: 0 10px; }
    #buscador-hoteles #hoteles-container #container-api-hoteles {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin: 0 10px;
      margin-top: 20px; }
      #buscador-hoteles #hoteles-container #container-api-hoteles div {
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        padding: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 49%; }
      #buscador-hoteles #hoteles-container #container-api-hoteles #div-mayor {
        width: 100%;
        display: flex;
        padding: 20px 0; }
        #buscador-hoteles #hoteles-container #container-api-hoteles #div-mayor h4 {
          font-size: 20px;
          font-weight: 600;
          color: #2d384c; }
        #buscador-hoteles #hoteles-container #container-api-hoteles #div-mayor p {
          font-size: 12px;
          color: #8290a6;
          margin: 0;
          font-weight: 600; }
      #buscador-hoteles #hoteles-container #container-api-hoteles #fechas-hoteleria {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
    #buscador-hoteles #hoteles-container button {
      width: 90%;
      background-color: #FEBB02;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      margin-top: 10px;
      padding: 17px 0px;
      border-radius: 30px;
      border: none; }
  #buscador-hoteles #hoteles-content {
    padding-top: 50px; }
    #buscador-hoteles #hoteles-content h3 {
      text-align: center;
      font-size: 24px;
      color: #2d384c; }
    #buscador-hoteles #hoteles-content p {
      text-align: center;
      color: #2d384c; }
    #buscador-hoteles #hoteles-content #carrusel-popular {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: scroll;
      gap: 20px;
      padding: 50px 0px 50px 20px; }
      #buscador-hoteles #hoteles-content #carrusel-popular div {
        min-width: 220px;
        height: 250px;
        border-radius: 15px;
        border: 1px solid #000; }
    #buscador-hoteles #hoteles-content #carrusel-mejores-hoteles {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: scroll;
      gap: 20px;
      padding: 50px 0px 50px 20px; }
      #buscador-hoteles #hoteles-content #carrusel-mejores-hoteles div {
        min-width: 220px;
        height: 170px;
        border-radius: 15px;
        border: 1px solid #000; }
    #buscador-hoteles #hoteles-content h4 {
      text-align: center;
      font-size: 18px; }
    #buscador-hoteles #hoteles-content div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 50px 15px;
      background-color: #E6EAEF; }
      #buscador-hoteles #hoteles-content div span {
        border-radius: 15px;
        border: 1px solid #000;
        padding: 10px; }

.active {
  color: #fff !important;
  border-bottom: 3px solid #fff; }

.buscadores-active {
  display: inherit !important; }

.boton-active {
  background-color: #5383ec !important;
  color: #fff !important;
  border: 1px solid #5383ec !important; }

.browser-caja-hijos div:nth-of-type(1) {
  order: 2; }

.browser-caja-hijos div:nth-of-type(2) {
  order: 1; }

.destino {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  grid-template-areas: "icono destino acronimo"; }
  .destino div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #000;
    grid-area: destino;
    font-size: 16px;
    font-weight: 400; }
    .destino div p {
      color: #8290a6;
      font-size: 13px;
      font-weight: 400; }
  .destino i {
    grid-area: icono;
    font-size: 25px;
    color: #2C5FA1;
    text-align: center; }
  .destino .acronimo {
    grid-area: acronimo;
    font-size: 18px;
    font-weight: 400;
    text-align: end;
    padding-right: 20px; }

#buscador-alquileres {
  background-image: url(../images/fondo-home-alquileres-mobile.png);
  height: 80%;
  background-position: center top;
  padding-top: 30%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #buscador-alquileres h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    padding: 0 10px; }
  #buscador-alquileres #container-api-alquileres {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 10px;
    margin-top: 20px; }
    #buscador-alquileres #container-api-alquileres div {
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      padding: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 49%; }
    #buscador-alquileres #container-api-alquileres #div-mayor-alquileres {
      width: 100%;
      display: flex;
      padding: 20px 0; }
      #buscador-alquileres #container-api-alquileres #div-mayor-alquileres h4 {
        font-size: 20px;
        font-weight: 600;
        color: #2d384c; }
      #buscador-alquileres #container-api-alquileres #div-mayor-alquileres p {
        font-size: 12px;
        color: #8290a6;
        margin: 0;
        font-weight: 600; }
    #buscador-alquileres #container-api-alquileres #fechas-alquileres {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
  #buscador-alquileres button {
    width: 90%;
    background-color: #FEBB02;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    padding: 17px 0px;
    border-radius: 30px;
    border: none; }

#buscador-paquetes {
  height: 250px;
  background-color: #2C5FA1;
  display: none;
  justify-content: center !important;
  align-items: center; }
  #buscador-paquetes #container-api-paquetes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    #buscador-paquetes #container-api-paquetes div {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      width: 90%;
      border-radius: 5px;
      border: none;
      height: 80px;
      color: #8290a6; }
      #buscador-paquetes #container-api-paquetes div p {
        padding-top: 5px;
        font-weight: 500;
        font-size: 14px;
        margin: 0px; }
      #buscador-paquetes #container-api-paquetes div i {
        font-size: 20px; }
  #buscador-paquetes button {
    background-color: #FEBB02;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 15px 45px;
    border-radius: 30px;
    border: none; }

footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #1D4D8B;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer img {
    width: 150px;
    height: auto; }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px; }
  footer span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    footer span a {
      list-style-type: none;
      text-decoration: none;
      color: #fff;
      margin: 15px;
      font-size: 12px; }

* {
  font-family: 'Roboto', sans-serif; }
