#buscador-hoteles{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  #hoteles-container{
    height: 500px;
    background-image: url(../images/fondo-home-hoteles-mobile.png);
    background-position: center top;
    padding-top: 35%;
    h2{
        text-align: center;
        color: #fff;
        font-weight: 600;
        font-size:30px;
        padding: 0 10px;
    }
    #container-api-hoteles{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;


        margin: 0 10px;
        margin-top: 20px;
        div{
            border-radius: 5px;
            background-color: #fff;
            display: flex;
            padding: 5px;
          
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 49%;
          
            
        }
        #div-mayor{
            width: 100%;
            display: flex;
            padding: 20px 0;
            h4{
                font-size: 20px;
                font-weight: 600;
                color: $gris-oscuro;
            }
            p{
                font-size: 12px;
                color: $gris;
                margin: 0;
                font-weight: 600;
                
            }
            
        }
        #fechas-hoteleria{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    button{
        width: 90%;
        background-color: $amarillo;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;

        padding: 17px 0px;
        border-radius: 30px;
        border: none;
    }
  }
  #hoteles-content{
    padding-top: 50px;
    h3{
        text-align: center;
        font-size: 24px;
        color: $gris-oscuro;
    }
    p{
        text-align: center;
        color: $gris-oscuro;
    }
    #carrusel-popular{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        gap: 20px;
        padding: 50px 0px 50px 20px;
        div{
            min-width: 220px;
            height: 250px;
            border-radius: 15px;
            border: 1px solid #000;
        }
      
    }
    #carrusel-mejores-hoteles{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: scroll;
        gap: 20px;
        padding: 50px 0px 50px 20px;
        div{
            min-width: 220px;
            height: 170px;
            border-radius: 15px;
            border: 1px solid #000;
        }
    }
    h4{
        text-align: center;
        font-size: 18px;
    }
    div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 15px;
        background-color: $blanco;
        span{
            border-radius: 15px;
            border: 1px solid #000;
            padding: 10px;
        }
    }
  }
}


  
   