//colores

$azul: #1D4D8B;
$celeste: #649FD7;
$azul-claro:#2C5FA1;
$amarillo: #FEBB02;
$gris-oscuro:#2d384c;
$gris: #8290a6;
$gris-claro: #BAC6D3;
$azul-fuerte:#5383ec;
$blanco: #E6EAEF;
$rojo: #FF0000;
