.active{
    color: #fff !important;
    border-bottom: 3px solid #fff;
}

.buscadores-active{
    display: inherit !important;
}

.boton-active{
    background-color: $azul-fuerte !important;
    color: #fff !important;
    border: 1px solid $azul-fuerte !important;
   
}

.boton-inactive{
    color: $blanco !important;
    pointer-events: none !important;
}

.fecha-activo{
    color: $azul-fuerte !important;
    border-bottom: 3px solid $azul-fuerte!important;
}

// Utilizar boton para cambiar de lugar, la salida y la llegada.

.browser-caja-hijos{
    div:nth-of-type(1){ order: 2;};
    div:nth-of-type(2) { order: 1; };
}

// Estilos en el offcanvas Destino agg via js.

.destino{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    grid-template-areas: 
    "icono destino acronimo";
    div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #000;
        grid-area: destino;
        font-size: 16px;
        font-weight: 400;
        p{
            color: $gris;
            font-size: 13px;
            font-weight: 400;
        }
    }
    i{
        grid-area: icono;
        font-size: 25px;
        color: $azul-claro;
        text-align: center;
    }
    .icon-banderas{
        font-size: 40px;
        bottom: 10px;
    }
    .icon-ciudad{
        bottom: 5px;
    }
    .acronimo{
        grid-area: acronimo;
        font-size: 18px;
        font-weight: 400;
        text-align: end;
        padding-right: 20px;
    }
}

.hotel{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 15px;

    border-bottom: 1px solid $gris-claro;
    i{
        color: $azul-claro;
        font-size: 30px;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-left: 5px;

        font-weight: 400;
    }
}


// CALENDARIO
#calendario-vuelos{
    .month{
        width: 100%;
        text-align: center;
        max-width:100% !important;
        font-weight:600;
        font-size: 17px;
        text-transform: capitalize;
    }
    span{
        width: 45px !important;
        padding:0px !important;
        height: 46px !important;
        p{
            margin:0px !important;
            font-size: 16px;
            
        }
    }
    .days-container{
        p{
            color: $negro;
            font-weight: 500;
        }
        .names-of-weeks{
            color: $gris-fuerte !important;
        }
        .month{
            width: 100%;
            text-align: center;
            max-width:100% !important;
            font-weight:600;
            font-size: 17px;
            text-transform: capitalize;
        }
        .week{
            padding: 4px;
            height: 46px;
            width: 14%;
            p{
                text-align:center !important;
                margin: 0 !important;
            }
        }
        .weeks{
            p{
                text-align:center;
            }
            span{
                width: 14% !important;
                p{
                    text-align:center !important;
                    margin:0 !important;
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    
}

.select{
    :after{
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-color: $azul-fuerte;
        position:absolute;
        border-radius: 50%;
        left: -1px;
        top: -16px;
        opacity: 0.5;
        }
    
}
