.active{
    color: #fff !important;
    border-bottom: 3px solid #fff;
}

.buscadores-active{
    display: inherit !important;
}

.boton-active{
    background-color: $azul-fuerte !important;
    color: #fff !important;
    border: 1px solid $azul-fuerte !important;
   
}

.boton-inactive{
    color: $blanco !important;
    pointer-events: none !important;
}

.fecha-activo{
    color: $azul-fuerte !important;
    border-bottom: 3px solid $azul-fuerte!important;
}

// Utilizar boton para cambiar de lugar, la salida y la llegada.

.browser-caja-hijos{
    div:nth-of-type(1){ order: 2;};
    div:nth-of-type(2) { order: 1; };
}

// Estilos en el offcanvas Destino agg via js.

.destino{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    grid-template-areas: 
    "icono destino acronimo";
    div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #000;
        grid-area: destino;
        font-size: 16px;
        font-weight: 400;
        p{
            color: $gris;
            font-size: 13px;
            font-weight: 400;
        }
    }
    i{
        grid-area: icono;
        font-size: 25px;
        color: $azul-claro;
        text-align: center;
    }
    .icon-banderas{
        font-size: 40px;
        bottom: 10px;
    }
    .icon-ciudad{
        bottom: 5px;
    }
    .acronimo{
        grid-area: acronimo;
        font-size: 18px;
        font-weight: 400;
        text-align: end;
        padding-right: 20px;
    }
}

.hotel{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 15px;

    border-bottom: 1px solid $gris-claro;
    i{
        color: $azul-claro;
        font-size: 30px;
    }
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding-left: 5px;

        font-weight: 400;
    }
}