.active{
    color: #fff !important;
    border-bottom: 3px solid #fff;
}

.buscadores-active{
    display: inherit !important;
}

.boton-active{
    background-color: $azul-fuerte !important;
    color: #fff !important;
    border: 1px solid $azul-fuerte !important;
   
}