#offcanvasExample{
    --bs-offcanvas-width: 280px !important;
    transition: transform .15s ease-in-out !important;
    padding-top: 10px !important;
    div ul{
        list-style-type: none;
        padding: 0;
        hr{
            margin: 6px 0;
        }
        li{
            font-size: 16px;
            padding: 7px 0;
            &:hover{
                color: $celeste;
            }
            i{
                margin-right: 5px;
            }
        }
    }    
}

.offcanvas-salida{
    --bs-offcanvas-height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .offcanvas-header{
        display: flex !important;
        flex-direction: column !important;
        padding-bottom: 0px !important;
        box-shadow: 0 -1px 4px 1px;
        button{
            align-self: flex-end;
        }
        div{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            width: 100%;
            button{
                width: 50%;
                border: none;
                background-color: #fff;
                color: $gris;
                font-weight: 600;
                padding-bottom: 20px;
                &:active{
                    border-bottom: 3px solid $azul-fuerte;
                    color: $azul-fuerte;

                }
            }
        }
    }
    .offcanvas-body{
        overflow-x: hidden;
    }
    .offcanvas-footer{
        box-shadow: 0 1px 4px 1px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .container-footer{
            width: 100%;
            display: flex;
            flex-direction: row;
            div{
                padding-top: 10px;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 11px;
                    color: $gris;
                    font-weight: 600;
                }
                h4{

                }
            }
        }
        button{
            background-color: $azul-claro;
            color: #fff;
            width: 90%;
            border-radius: 20px;
            margin: auto auto;
            border: 1px solid $celeste;
            padding: 12px;
            margin-bottom: 12px;

            font-weight: 600;
        }
        
    }
}

.offcanvas-pasajeros{
    --bs-offcanvas-height: 100% !important;
    display: flex;
    flex-direction: column;
    .offcanvas-header{
        display: flex;
        flex-direction: column;
        button{
            align-self: flex-end;
        }
        h3{
            text-align: left;
        }
    }
    .offcanvas-body{
        display: flex;
        flex-direction: column;
        #adultos{
            @extend %extend-offcanva;

        }
        #bebes{
            @extend %extend-offcanva;
        }
        #menores{
            @extend %extend-offcanva;
        }
        #clase-select{
            h4{
                text-align: center;
                padding-top: 20px;
            }
            span{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0px 20px;
                button{
                    background-color: #fff;
                    border: 1px solid $blanco;
                    color: $gris-oscuro;
                    border-radius: 20px;
                    padding: 10px 25px;
                }
            }
        }
        #offcanvas-footer{
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            button{
                width: 100%;
                padding: 15px 0px;
                border-radius: 30px;
                border: none;
                background-color: $azul-fuerte;
                color: #fff;
                font-weight: 600;
            }
        }

        .contador{
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            h3{
                font-size: 26px;
                padding: 0 20px;
                margin: 0%;
                font-weight: 400;
            }
            .bi{
                color: $blanco;
                font-size: 25px;
               
            }
            .bi-plus-circle-fill{
                color: $azul-fuerte;
                
            }
            .bi-dash-circle-fill{
                pointer-events: none;
            }
        }
    }
   
}

.offcanvas-destino{
    --bs-offcanvas-height: 100% !important;
    .offcanvas-header{
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        border-bottom: 1px solid $gris-claro;
        position: relative;
        input{
            font-size: 20px;
            width: 90%;
            height: 25px;
            border: none;
            text-transform: capitalize;
            &::placeholder{
                color: $gris-claro;
            }

        }
    }
    .offcanvas-body{
        padding: 0 !important;
        .destino{
            width: 100%;
            height: 65px;
            border-bottom: 1px solid $gris-claro;
            
        }
    }
}
.offcanvas-fechas{
    --bs-offcanvas-height: 100% !important;
    .offcanvas-header{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $gris-claro;
        padding: 10px 10px;
        input{
            font-size: 20px;
            width: 90%;
            height: 25px;
            border: none;
            text-transform: capitalize;
            &::placeholder{
                color: $gris-claro;
             }
            }
        }
        .offcanvas-body{
            padding: 0 !important;
        }
}

// A partir de aca, OFFCANVAS HOTELES

.offcanvas-alojamiento-hotel{
    --bs-offcanvas-height: 100% !important;
    @extend %extend-offcanvas-header;
}

.offcanvas-huespedes-hotel{
    --bs-offcanvas-height: 100% !important;
    .offcanvas-header{
        justify-content: flex-end !important;
    }
    .offcanvas-body{
        .habitaciones-hotel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:stretch;
            h5{
                font-size: 18px;
                font-weight: 600;
            }
            button{
                color: $azul-claro;
                border: none;
                background-color: #fff;
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                span{
                    h4{
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 13px;
                        margin: 0;
                        color: $gris;
                    }
                   display: flex;
                   flex-direction: column;
                   width: 60%;
                   padding: 20px 0;
                   border-bottom: 1px solid $gris-claro;
                }
                .contador{
                    width: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    i{
                        color: $azul-fuerte;
                        font-size: 25px;
                    }
                    h3{
                        margin: 0;
                    }
                }
            }
        }
    }
    .offcanvas-footer{
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        button{
            width: 45%;
            border-radius: 25px;
            padding: 15px 0px;
            font-weight: 600;
            line-height: 15px;
        }
        #agregar-habitacion{
            border: 1px solid $gris;
            background-color: #fff;
            color: $gris;
            padding: 8px 5px;
        }
        #listo-habitacion{
            border: 1px solid $azul-fuerte;
            background-color: $azul-fuerte;
            color: #fff;
        }
    }

}